# dependencies
/node_modules

# testing
/coverage
/demo/dist

# production
/build
/es
/lib
/umd

# images
/images
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#Visual Code
.vscode